name: test
on:
  push:
    branches: master
  pull_request:
    branches: master
# cancels prior builds for this workflow when new commit is pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    name: test
    steps:
      - uses: actions/checkout@v4
      - name: Setup Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: gait-closed-loop-id-env.yml
      - name: test model evaluation
        shell: bash -l {0}
        run: |
          conda info
          conda list
          python src/solve_standing.py
